<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
  <div class="col-md-5 align-self-center">
      <h4 class="text-themecolor"></h4>
  </div>
  <div class="col-md-7 align-self-center text-right">
      <div class="d-flex justify-content-end align-items-center">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
          </ol>
      </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="grid">
  <div class="grid-item">
      <div class="grid-item-content" id="op1"><h2>OP1</h2></div>
  </div>
  <div class="grid-item">
      <div class="grid-item-content"><h2>OP2</h2></div>
  </div>
  <div class="grid-item">
      <div class="grid-item-content"><h2>OP3</h2></div>
  </div>
  <div class="grid-item">
      <div class="grid-item-content"><h2>OP4</h2></div>
  </div>
  <div class="grid-item">
      <div class="grid-item-content"><h2>OP5</h2></div>
  </div>
  <div class="grid-item">
      <div class="grid-item-content"><h2>OP6</h2></div>
  </div>
  <div class="grid-item">
      <div class="grid-item-content"><h2>OP7</h2></div>
  </div>
  <div class="grid-item">
      <div class="grid-item-content"><h2>OP8</h2></div>
  </div>
  <div class="grid-item">
      <div class="grid-item-content"><h2>OP9</h2></div>
  </div>
  <div class="grid-item">
      <div class="grid-item-content"><h2>OP10</h2></div>
  </div>
  <div class="grid-item">
      <div class="grid-item-content"><h2>OP11</h2></div>
  </div>
  <div class="grid-item">
      <div class="grid-item-content"><h2>OP12</h2></div>
  </div>
  <div class="grid-item">
      <div class="grid-item-content"><h2>OP13</h2></div>
  </div>
  <div class="grid-item">
      <div class="grid-item-content"><h2>OP14</h2></div>
  </div>
  <div class="grid-item">
      <div class="grid-item-content"><h2>OP15</h2></div>
  </div>
</div>
    
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->